/* Testimonials.scss */

.testimonials-wrapper {
    display: flex;
    flex-wrap: nowrap;
}

.testimonials-container {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: #FFC100;
    border: 1px solid #ccc;
    padding: 4px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 4px; /* Add margin to create space between containers */
}

.upper-section {
    background-color: #fff;
    border-radius: 8px;
    padding: 16px;
    border: 1px solid #ccc;
    height: 200px;
}

.upper-section p {
    margin: 0;
}

.lower-section {
    display: flex;
    flex-direction: column;
    margin: 0px;
    align-items: center; /* Center align items horizontally */
    text-align: center; /* Center-align text within the container */
}

.text-content {
    margin-top: 0; /* Adjust the top margin to reduce the gap */
    padding: 4px;
}

.name {
    font-weight: bold;
    margin-bottom: 8px;
    letter-spacing: 2px; /* Add 20% letter spacing */
    text-align: center; /* Center-align the name text */
}

.description {
    letter-spacing: 2px; /* Add 20% letter spacing */
    text-align: center; /* Center-align the description text */
}


.avatar {
    align-items: center;
}

.avatar img {
    width: 120px;
    height: 120px;
}

