/* Add your CSS styling here */

.testimonials-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px; /* Replace the backtick (`¨`) with a semicolon (`;`) here */
    transition: all 0.3s ease; /* Add a transition for the entire avatars container */
    border-radius: 4px;
}
  
  .avatars {
    display: flex;
    justify-content: center;
    gap: 20px;
    transition: all 0.3s ease; /* Add a transition for the entire avatars container */
    border-radius: 50%;
  }
  
  .avatars {
    display: flex;
    justify-content: center;
    gap: 20px;
    transition: all 0.3s ease; /* Add a transition for the entire avatars container */
  }
  
  .avatar {
    width: 80px;
    height: 80px;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: border-color 0.3s ease;
  
    &:hover {
      border-color: #FFFFE0; /* Change border color on hover */
    }
  }
  
  .selected-avatar {
    border-color: green; /* Change border color for selected avatar */
    transform: scale(2.0); /* Add a scale effect for the selected avatar */
    transition: all 0.7s ease; /* Add a transition for the entire avatars container */
  }
  
  .testimonial-details {
    text-align: center;

  
    h2 {
      font-size: 1.5rem; /* Adjust the font size for the name */
      white-space: nowrap; /* Keep text on a single line */

    }
  
    p {
      font-size: 1rem; /* Adjust the font size for the title */
      color: #555; /* Customize the color of the title */
      display: flex; /* Center text vertically */
      flex-direction: column; /* Stack elements vertically */
      white-space: nowrap; /* Keep text on a single line */
      align-items: center; /* Center horizontally */
      justify-content: center; /* Center vertically */


    }
  }



  .testimonial-text {
    font-style: italic;
    max-width: 400px; /* Adjust the width as needed */
    line-height: 1.5;
    display: flex; /* Center text vertically */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */


    h2 {
        font-size: 1.5rem; /* Adjust the font size for the name */
      }
  
    p {
      font-size: 1rem; /* Adjust the font size for the testimonial text */
      color: #333; /* Customize the color of the testimonial text */
      
    }
  }
  