/* Add your CSS styling here */

.testimonials-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px; /* Replace the backtick (`¨`) with a semicolon (`;`) here */
    transition: all 0.3s ease; /* Add a transition for the entire avatars container */
    background-color: #f0f0f0; /* Replace "your-color" with the desired background color */
    border-radius: 4px;
}
  
  .avatars {
    display: flex;
    justify-content: center;
    gap: 20px;
    transition: all 0.3s ease; /* Add a transition for the entire avatars container */
    border-radius: 50%;
  }
  
  .avatar {
    width: 80px;
    height: 80px;
    border: 2px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: border-color 0.3s ease;

  
    &:hover {
      border-color: 2px solid #FFFFE0; /* Change border color on hover */
      border-radius: 50%;
    }
  }
  
  .selected-avatar {
    border-radius: 50%;
    border-color: 2px solid green; /* Change border color on hover */

    transform: scale(1.5); /* Add a scale effect for the selected avatar */
    transition: all 0.3s ease; /* Add a transition for the entire avatars container */


  }
  
  .testimonial-details {
    text-align: center;
  
    h2 {
      font-size: 1.5rem; /* Adjust the font size for the name */
    }
  
    p {
      font-size: 1rem; /* Adjust the font size for the title */
      color: #555; /* Customize the color of the title */
    }
  }
  
  .testimonial-text {
    font-style: italic;
    max-width: 400px; /* Adjust the width as needed */
    line-height: 1.5;
    display: flex; /* Center text vertically */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */

    h2 {
        font-size: 1.5rem; /* Adjust the font size for the name */
      }
  
    p {
      font-size: 1rem; /* Adjust the font size for the testimonial text */
      color: #333; /* Customize the color of the testimonial text */
    }
  }
  