.for-users {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally within the .for-users container */
    
  
  
  }
  
  .for-users h1 {
    margin-top: 20px; /* Add margin to separate from other elements */
    margin-left: 20%; /* Adjust left margin for medium-sized screens */
    margin-right: 20%; /* Adjust right margin for medium-sized screens */
    text-align: center; /* Center text horizontally */
    font-size: 32px;
  
  }
  
  /* Media query for screens with a maximum width of 768px */
  @media (max-width: 768px) {
    .for-users h1 {
      margin-left: 15%; /* Adjust left margin for medium-sized screens */
      margin-right: 15%; /* Adjust right margin for medium-sized screens */
      font-size: 24px;
    }
  }
  
  /* Media query for screens with a maximum width of 480px */
  @media (max-width: 480px) {
    .for-users h1 {
      margin-left: 10%; /* Adjust left margin for smaller screens */
      margin-right: 10%; /* Adjust right margin for smaller screens */
      font-size: 20px;
  
    }
  }
  
  .for-users h2 {
    text-align: center; /* Center text horizontally */
    display: flex;
    margin-left: 20%; /* Adjust left margin for medium-sized screens */
    margin-right: 20%; /* Adjust right margin for medium-sized screens */
    justify-content: center; /* Center text vertically */
    align-items: center;
    font-size: 28px;
  }
  
  /* Media query for screens with a maximum width of 768px */
  @media (max-width: 768px) {
    .for-users h2 {
      margin-left: 15%; /* Adjust left margin for medium-sized screens */
      margin-right: 15%; /* Adjust right margin for medium-sized screens */
      font-size: 24px;
    }
  }
  
  /* Media query for screens with a maximum width of 480px */
  @media (max-width: 480px) {
    .for-users h2 {
      margin-left: 10%; /* Adjust left margin for smaller screens */
      margin-right: 10%; /* Adjust right margin for smaller screens */
      font-size: 20px;
  
    }
  }
  
  .for-users h3 {
    text-align: center; /* Center text horizontally */
    display: flex;
    justify-content: center; /* Center text vertically */
    align-items: center;
    font-size: 24px;
  
  }
  
  /* Media query for screens with a maximum width of 768px */
  @media (max-width: 768px) {
    .for-users h3 {
      margin-left: 15%; /* Adjust left margin for medium-sized screens */
      margin-right: 15%; /* Adjust right margin for medium-sized screens */
      font-size: 20px;
    }
  }
  
  /* Media query for screens with a maximum width of 480px */
  @media (max-width: 480px) {
    .for-users h3 {
      margin-left: 10%; /* Adjust left margin for smaller screens */
      margin-right: 10%; /* Adjust right margin for smaller screens */
      font-size: 16px;
  
    }
  }
  
  .for-users p {
    text-align: justify; /* Justify text within <p> elements */
    font-size: 12px;
  }
  
  .for-users img {
    max-width: 50%; /* Ensure images don't exceed their container width */
    margin: 10px auto; /* Center the image horizontally */
    display: block; /* Remove any default inline spacing */
  
  }
  
  .for-users .card{
    margin-bottom: 10px; /* Adjust the margin as needed */
  }
  

  

  