/*components/Header/Header.css */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.15);
    background: linear-gradient(to right, #FFC100, #FFA500); /* Linear gradient from left to right */
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    position: bottom;
    padding: 20px;
    bottom: 0;
    width: 100%;
    box-sizing: border-box; /* New line */
    font-family: 'Comfortaa';  /* Add this line */

  }
  

.footer .heading {
    color: black;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Comfortaa';  /* Add this line */
    
  }