/* Header container */
.logo {
  width: 120px;  // Set the width
  height: 120px;  // Set the height
  margin-bottom: 0px;  // Add some margin between the logo and the heading
  margin-right: -35px;  // Add some right margin if you want some spacing  
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;  // Center items horizontally
  align-items: center; /* Center vertically */
  background: linear-gradient(to right, #FFC100, #FFA500); /* Linear gradient from left to right */
  border: 1px solid transparent;
  border-radius: 0px;
  transition: border-color 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: margin 0.3s ease;
  transition: box-shadow margin 0.3s ease;

  border-bottom: #333 2px;



}

/* Header hover effect */
.header:hover {
  // border-color: #D03F2C;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  transition: box-shadow margin 0.3s ease;
  margin: 20px 20px 20px 20px;
  border-radius: 8px;





  
  

}


/* Heading styles */
.heading {
  width: 150px; /* or whatever width you want */
  margin: 10px;
  padding: 10px 20px;
  border-radius: 8px;
  letter-spacing: 1.5px;
  margin-block: auto;
  color: white;
  font-size:larger;
  font-family: 'Comfortaa';  /* Add this line */

  ;
}

/* Heading hover effect */
.heading:hover {
  /* background-color: red; */
}

/* Menu styles */
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  
}

/* Menu list items */
.menu li {
  margin-right: 20px;
}

/* Menu links */
.menu a {
  text-decoration: none;
  color: #333;
}

/* Media query for small screens */
@media (max-width: 500px) {
  .menu ul {
    flex-direction: column;
  }

  .menu li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

/* Menu list styles */
.menu-list {
  list-style: none;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

/* Menu list item styles */
.menu-list li {
  margin-right: 20px;
}

/* Remove right margin from the last menu list item */
.menu-list li:last-child {
  margin-right: 0;
}

/* Menu link hover effect */
.menu a:hover {
  color: #FFC100; /* Change the text color on hover */
  text-decoration: underline; /* Add underline on hover */
  transition: color 0.3s ease, text-decoration 0.3s ease; /* Smooth transition effect */
}
